<template name="Home">
  <form id="upload-image">
    <input name="files" type="file">
    <button type="submit">Submit</button>
  </form>
  <table id="images-grid">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Image</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {{#each images}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{#if url}}
              <img src="{{url}}">
            {{else}}
              {{> Loading}}
            {{/if}}
          </td>
          <td>
            <a href="{{url}}" download="{{name}}">Download</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>