/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.k-upload {
  display: inline-block;
  background: none;
  border: none;
}